<!doctype html>
<html lang="en">
{% load static %}
{% load getname %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Add Post</title>


<style>
    nav{
      background-color: white;
    }
    .one-edge-shadow {
              box-shadow: 0 8px 2px -5px rgb(246, 245, 245);
}
.display-8{
  font-weight: 200;
  font-size: 30px;
}
  </style>
</head>

<body>
  
  <!-- navbar -->
  <nav class="one-edge-shadow
  sticky-top navbar
  navbar-expand-lg
   navbar-dark bg-dark">
    <a class="navbar-brand" href="/">E-Care</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'patientpostview' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'patientpostview' %}">Blog Posts <span class="sr-only">(current)</span></a>
        </li>
        {% if request.session.patient|is_doctor %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'doctor' request.session.patient %}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for cat in categories %}
            <a class="dropdown-item" href="{% url 'allpostbycategory' cat.id %}">{{ cat.title }}</a>
            {% endfor %}
            
          </div>

        </li>


      </ul>


      <ul class=" navbar-nav my-2 my-lg-0">

        {% if request.session.patient %}

        <li class="nav-item ">
          <a class="nav-link" href="{% url 'profile' request.session.patient %}">Welcome {{request.session.patient|author_name}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
        </li>
        {% else %}

        <li class="nav-item ">
          <a class="nav-link" href="{% url 'signupPatient' %}">Signup<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'loginPatient' %}">Login<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}



      </ul>


    </div>
  </nav>

      {% for message in messages  %}
      <div id="mydiv" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  {% endfor %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mt-4 border mb-4 mx-auto rounded pt-4">
            <div class="text-center col">
            
                <img 
                src="{% static 'images/03460cc6fb8c4d17c1f646c7671c81c4.svg' %}" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            <div class="display-8">Add a Blogpost</div>
            <hr>
            </div>
            <h3 hidden class="alert alert-light border mt-4 mb-4 rounded">Update Post</h3>
            <form action="{% url 'editpost' editpost.id %}" method="POST">
                
                {% csrf_token %}
                <!-- title -->
                <div class="form-group">
                    <label for="">Title</label>
                    <input required type="text" name="text" value="{{editpost.title}}" id="" 
                    class=" form-control-sm form-control" placeholder="Title">
                </div>

                <!-- category -->
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Status</label>
                    <select name="category" value="{{editpost.category}}" class="form-control" id="exampleFormControlSelect1">
                      {% for category in categories %}
                      <option value="{{category.title}}">{{category.title}}</option>
                      {% endfor %}
                        
                      
                    </select>
                  </div>

                <!-- summary -->
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Summary</label>
                    <input name="summary" class="form-control" id="summary" value="{{editpost.summary}}" rows="3"></input>
                </div>

                <!-- content -->
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Content</label>
                    <input name="content" class="form-control" id="content" value="{{editpost.content}}" rows="3"></input>
                </div>

                <!-- status -->
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Status</label>
                    <select name="status" value="{{editpost.status}}" class="form-control" id="exampleFormControlSelect1">
                      <option value="draft">Draft</option>
                      <option value="published">Published</option>
                    </select>
                </div>

                <hr>
                <div class="form-group">
                    <input class="btn btn-sm btn-info col-lg-4" type="submit" value="Update post">
                </div>

                
            </form>
        </div>
    </div>
</div>

</body>
</html>