{% extends 'base.html' %}

{% load static %}
{% block title %}Signup{% endblock title %}
{% block content %}

      {% for message in messages  %}
      <div id="mydiv" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  {% endfor %}
<div class="container mt-4">
    
    <div class="p-4 m-4">

        
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
            
                <img 
                src="{% static 'images/03460cc6fb8c4d17c1f646c7671c81c4.svg' %}" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            <div class="display-8">Create An Account</div>
            <hr>
            </div>
            <h3 hidden class="alert alert-light border rounded">Create An Account</h3>
            <form action="{% url 'signupPatient' %}" method="POST" enctype="multipart/form-data">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

                <!-- image-->

                <div class="form-group">
                    <label for="">Image</label>
                    <input type="file" name="image"
                     id="" value="{{values.image}}"  class="form-control form
                     -control-sm"
                     placeholder="" required >
                </div>
<!--                username -->
                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" name="username"
                     id="" value="{{values.username}}" class="form-control form-control-sm"
                     placeholder="Username">
                </div>

                <!-- firstname -->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname"
                     id="" value="{{values.first_name}}" class="form-control form-control-sm" 
                     placeholder="First Name">
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" 
                    id="" value="{{values.last_name}}" class="form-control form-control-sm"
                    placeholder="Last Name">
                </div>

                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="example@gmail.com">
                </div>

<!--                select doctor or patient-->
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select</label>
                        <select name="DorP" class="form-control" id="exampleFormControlSelect1">
                          <option value="1">Patient</option>
                          <option value="2">Doctor</option>
                        </select>
                </div>

<!--            address-->
                <div class="form-group">
                    <label for="">Address(line 1)</label>
                    <input type="text" name="line1"
                     id="" value="{{values.line1}}" class="form-control form-control-sm"
                     placeholder="Address(line1)">
                </div>

<!--                state-->
                <div class="form-group">
                    <label for="">State</label>
                    <input type="text" name="state"
                     id="" value="{{values.state}}" class="form-control form-control-sm"
                     placeholder="State">
                </div>

<!--                city-->
                <div class="form-group">
                    <label for="">City</label>
                    <input type="text" name="city"
                     id="" value="{{values.city}}" class="form-control form-control-sm"
                     placeholder="City">
                </div>
<!--                pincode-->
                <div class="form-group">
                    <label for="pincode">Pincode</label>
                    <input type="number"
                    name="pincode"
                    id=""
                     class="form-control form-control-sm" placeholder="********">
                </div>
                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm" placeholder="********">
                </div>
                <!-- confirm password -->
                <div class="form-group">
                    <label for="">Retype Password</label>
                    <input type="password"
                    name="cpassword"
                    id=""
                     class="form-control form-control-sm" placeholder="********">
                </div>

                <hr>
                <div class="form-group">
                    <input class="btn btn-sm btn-info" type="submit" value="Create An Account ">
                </div>

                
            </form>
        </div>
    </div>
</div>

{% endblock %}